In [ ]:
import psycopg2

In [ ]:
# Make connection to the database
dbname = "postgres"
user = "postgres"
password = "hello123"
host = "apprentice-training-2023-rds.cth7tqaptja4.us-west-1.rds.amazonaws.com"

# Establish a connection
try:
  connection = psycopg2.connect(
      dbname=dbname,
      user=user,
      password=password,
      host=host
      )
  print("Connection Successful")
except:
  print("Connection Failed")

Connection Successful

In [ ]:
cursor = connection.cursor()

In [ ]:
create_table_query = """
CREATE TABLE IF NOT EXISTS sushan_testDataTable_etl (
    CELL_VALUE FLOAT,
    DATA_TYPE_CODE VARCHAR(50),
    ERROR_DATA VARCHAR(10),
    CATEGORY_CODE VARCHAR(50),
    SEASONALLY_ADJ VARCHAR(10),
    TIME VARCHAR
);
"""

In [ ]:
cursor.execute(create_table_query)
connection.commit()